@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  background-color: #E7F5FE;
}
.banner{
    text-align: center;
    color: crimson;
}
.banner img{
    width: 150px;
    margin-top: 50px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.course {
  height: 40px;
  width: 350px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-right: 20px;
  /* border: 1px solid gray; */
}
#items input{
    border: 1px solid lightgray;
    outline: none;
}
#cars{
    border: 1px solid lightgray;
    outline: none;
    padding-left: 10px;
}
.credit {
  height: 40px;
  width: 130px;
  margin-left: 20px;
  padding-left: 10px;
}

.grades {
  width: 100px;
  height: 40px;
  padding-left: 30px;
}
.items {
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
.fa-circle-plus {
  font-size: 30px;
  color: crimson;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}
#calculate-btn {
  background-color: rgb(143, 38, 236);
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 60%;
  padding: 27px;
  position: sticky;
  left: 61%;
  top: 45%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: 500;
}
.semester-title {
  font-size: 20px;
  margin-bottom: 10px;
}
#add-semester {
  padding: 13px;
  font-size: 20px;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(133, 68, 235);
  cursor: pointer;
  position: relative;
  left: -17%;
  margin-bottom: 50px;
}
.calculate-gpa {
  padding: 5px 10px;
  border: none;
  background-color: crimson;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.mygpa {
  text-align: center;
  color: white;
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#cgpa {
  background-color: crimson;
  color: white;
  text-align: center;
  font-weight: bolder;
  padding: 10px 10px;
  border-radius: 5px;
  display: none;
}

@media (max-width:668px) {
  *{
    box-sizing:none;
  }
   .items .course{
       width: 100%;
   }
   .grades{
       width: 35%;
   }
   .credit{
       width: 25%;
       padding-left: 15px;
   }
   .input-items{
       margin-bottom: 3px;
   }
   .container{
       margin: 0 20px;
   }
   label{
     display: none;
   }
   #cars{
     padding-left: 0;
     text-align: center;
   }
   #add-semester{
     margin-top: 50px;
   }
   .banner h2{
     font-size: 25px;
     padding: 20px;
   }
    
}